/***************************************** General Stuff *****************************************/
body, html
{
    height: 100%;
    background-image: url("../images/noisy_net.png");
    overflow-x: hidden;
    font-size: 16px;
}

h1
{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

h2
{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 3px solid #343A40;
    margin-top: 10px;
}

h3
{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    display: inline-block;
}

h4
{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    text-align: center;
}

th
{
    font-weight: bold;
}

#canvas-div
{
    width: 100%;
}

#page-body
{
    flex: 1 0 auto;
}

.center-div
{
    position: relative;
    flex: 1 0 auto;
}

/******************************************** Header *********************************************/
.header-class
{
    font-family: Georgia, Times, serif;
    text-align: center;
    background-color: rgba(30, 47, 126, 0.3);
    color: #ffffff;
    font-size: 30px;
    border-bottom: 3px solid #666666;
    padding: 20px 0px;
}

.nav-link
{
    font-family:  sans-serif;
    font-size:    20px;
}

.nav-title
{
    height: 100%;
    font-family: sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.nav-title:hover,
.nav-link:hover
{
    background-color:  rgba(30, 47, 126, 1);
    border-radius: 5px;
}

/******************************************** Footer *********************************************/
footer
{
    border-top: 1px solid #666666;
    background-color: rgba(30, 47, 126, 0.3);
    color: #ffffff;
}

/************************************ Project Specific Stuff *************************************/
.welcome

{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 30px;
}

.modal-background
{
    background-color: rgba(0, 0, 0, .8);
    display: block;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
  
.modal-content
{
    background-color: rgb(247, 247, 247);
    margin: auto;
    padding: 20px;
    border: 3px solid #343A40;
    width: 80%;
}

#myModal
{
    overflow: auto;
}

#instructions
{
    font-size: 14.5px;
    text-align: center;
}

.card
{
    margin-bottom: 20px;
}

.card-header
{
    background-color: rgb(221, 221, 221);
}

.search
{
    border: 3px solid #343A40;
    border-radius: 5px;
}

.form-input
{
    width: 100%;
    display: inline-block;
}

.form-btn
{
    width: 10%;
    display: none;
}

.header-btn
{
    float: right;
}

.link-div
{
    border: 3px solid #343A40;
    border-radius: 5px;
    text-align: center;
    position: relative;
    display: block;
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}

.tooltiptext
{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: -170%;
    left: -200%;
    z-index: 11;
}

.overlay-add
{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 10;
}

.overlay-add:hover .tooltiptext
{
    visibility: visible;
}

.link-div:hover .overlay-add
{
    opacity: 1.0;
}

#password-error
{
    min-height: 50px;
    color: red;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.header-title
{
    display: inline-block;
}

.header-user
{
    font-family: sans-serif;
    color: #343A40;
    font-size: 15px;
}

.header-right
{
    float: right;
}

.navbar
{
    width: 100%;
    margin: 0;
}

.station-div
{
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 200px;
}

.clock-div
{
    background-color: rgb(222, 224, 238);
}

.tod-div
{
    background-size: 100% 100%;
}

.vane-div
{
    background-color: rgb(243, 232, 226);
}

.temp-div
{
    background-color: rgb(227, 243, 226);
}

.cloud-div
{
    background-color: rgb(234, 243, 226);
    background-size: 100% 100%;
}

.humidity-div
{
    background-color: rgb(226, 243, 242);
    background-size: 100% 100%;
    background-image: url("../images/humidity.png");
}

.pressure-div
{
    background-color: rgb(226, 230, 243);
    background-size: 100% 100%;
    background-image: url("../images/baro.png");
}

.current-div
{
    background-color: rgb(226, 202, 241);
    background-size: 100% 100%;
}

.visibility-div
{
    background-color: rgb(236, 226, 243);
    background-size: 100% 100%;
    background-image: url("../images/visibility.png");
}

.info-div
{
    background-color: rgb(205, 207, 231);
    background-size: 100% 100%;
    background-image: url("../images/images.png");
    color: black;
}

.refresh-div
{
    background-color: rgb(236, 233, 233);
}

.refresh-can
{
    opacity: .7;
}

p
{
    background-color: black;
    opacity: .5;
    color: white;
    margin-bottom: 0;
}
